*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;

}

.menu{
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    height:400px;
    margin: 0 auto; 
    background-size: cover; 
    
}
.wrapper{
    width: 600px;
    margin: 0 auto;
    text-align: center;  
}
.wrapper h1{
    text-align: center;
    color: white;
    padding: 20px;
    font-size: 40px;
}
.wrapper p{
    color:rgb(247, 242, 236);
    padding: 10px;
    margin-bottom: 30px;
}
.donate-btn{
    text-decoration: none;
    padding: 15px 20px;
    background-color: coral;
    color: white;
    border-radius: 5px;
}
.payment{
    width: 600px;
    margin: 0 auto;
    text-align: center;
}
.payment h1{
    font-size: 25px;
    padding: 20px;
    font-weight: 700;
    margin-top: 40px;
}
.payment p{
    color: gray;
    padding: 5px;
    margin-bottom: 20px;
}
.payment ul{
   list-style: none;
   
}
.payment ul li{
    padding:30px;
    display: inline-block;
    background-color: rgb(230, 225, 225);
    border-radius: 5px;
    font-weight: bold;
    color: rgb(105, 100, 100);
    margin: 5px;
}
#prefer-amount{
    background-color:rgb(255, 199, 199);
    border: 1px solid red;
}
.payment h3{
    padding: 10px;
    color: darkgray;
    font-weight:400;
    margin-bottom: 10px;
}
hr{
    margin-top: 10px;
    margin-bottom: 30px;
}
.payment a{
    text-decoration: none;
    padding: 15px 20px;
    background-color: coral;
    color: white;
    border-radius: 5px;
    margin: 20px;
    
}
.plan{
    margin: 0 auto;
    text-align: center;
}
.plan h1{
    
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 10px;
   
}
.plan p{
    color: gray;
    margin-bottom: 20px;
}
.cards{
    width: 30%;
    border-radius: 5px;
    box-shadow: 3px 3px 10px grey;
    background-color: white;
    margin:10px;
    display: inline-block;
}
.image img{
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.title h1{
    text-align: center;
    padding: 10px;
}
.description p{
    text-align: center;
    padding: 10px;
}
.cards a{
    padding: 20px;
    text-decoration: none;
}
.article{
    display: flex;
    
}

.left-article{
    float: left;
    text-align: left; 
}
.article-description{
    padding: 20px 0px;
    margin-right: 10px;
}
.left-article h1{
padding: 20px 0px;
}
.left-article p{
    padding: 10px 0px;
}
.left-article a{
    padding: 15px 40px;
    
}
.text-bold{
    font-weight: 900;
}
.right-article img{
    float: left;
    width: 100%;
    border-radius: 5px;
}
.contribute-btn{
    padding: 15px 15px;
    text-decoration: none;
    background-color: tomato;
    border-radius: 5px;
    color:white;
}
.article {
    margin: 0 20px;
    margin-left:45px;
    margin-right: 45px;
    padding: 20px 0px;
}

.left-article2 img{

    width: 100%;
    border-radius: 5px;
}
.right-article2{
    text-align: left;
    padding: 20px;
    margin-left: 20px;
}
.article-description2{
    margin-bottom: 25px;
}
.article-description2 p{
    padding: 10px 0px; 
}
.article-description2 a{
    padding: 20px 0px;
    margin-top: 10px;
}
.update-section{
    margin: 30px auto;
    text-align: center;
    padding: 20px;
}
.update-section p{
    color: gray;
    margin: 10px;
}
.form{
    text-align: center;
    padding: 20px;
    background-color: bisque;
    width: 60%;
    height:100px;
    margin: 0 auto;
    margin-bottom: 50px;
    
}
.subscribe{
    margin-top: 40px;
}
input{
    padding: 10px;
    background-color: rgb(241, 236, 236);
    color: dimgray;
    border: none;
    border-radius: 5px;
}
button{
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: rgb(243, 73, 73);
}
footer{
    text-align: center;
    background-color:rgb(47, 47, 131) ;
    padding: 20px;
}
footer h1{
    font-style: italic;
    font-weight: 700;
    color: whitesmoke;
    padding: 10px;
    
}
footer p{
    color: gray;  
}